body {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-repeat: no-repeat;
}
h2 {
  margin: 0px;
  font-size: 60px;
}
h1 {
  font-size: 200px;
  margin: 20px 0px 0px;
  animation: 1.2s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0px);
  }
}
footer {
  text-align: center;
  font-size: smaller;
}
a {
  color: #e7c6c6;
}
strong {
  color: #e7c6c6;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-icon {
  position: relative;
  top: 50px;
  animation: 1.2s ease-in 0s 1 slideInFromRight;
}
.logo {
  max-width: 100%;
}

.date-time {
  margin: 0px 0px 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}
.temp-unit {
  font-size: 60px;
  position: relative;
  top: -80px;
  left: -30px;
}
.container {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}
.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.search-form-input {
  border-color: #e2d1c3;
  border-radius: 5px;
  border-style: solid;
  width: 80%;
  padding: 17px;
  font-size: 13px;
}
.search-submit-button {
  padding: 15px 35px;
  background-color: #e2d1c3;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  max-width: 100%;
  transform: translateY(2px);
}
